.homeView {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 30vh;
  width: 55%;
  margin: 50px auto;
  padding: 20px 30px;
  background-color: lightgray;
  opacity: 0.9;
}
