.homeView {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 30vh;
  width: 55%;
  margin: 50px auto;
  padding: 20px 30px;
  background-color: var(--background);
  opacity: 0.9;
  border-radius: 25px;
}
.info h1 {
  color: var(--header);
  font-family: "Reenie Beanie", cursive;
  font-size: 55px;
}
