.homeView {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 30vh;
  width: 60vw;
  margin: 5rem auto;
  padding: var(--fieldPadding);
  background-color: var(--background);
  opacity: 0.9;
  border-radius: var(--fieldBorderRadius);
}
.info > h1 {
  color: var(--header);
  font-family: "Reenie Beanie", cursive;
  font-size: var(--fontSizeH1);
}
