.candidateSummary {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summaryCounter {
  width: 80%;
  padding: 50px;
  background-color: var(--background);
  opacity: 0.9;
  margin: 50px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 20px;
}
.questionCounter {
  margin: 20px 0;
  width: 100%;
}
