.candidateSummary {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summaryCounter {
  height: 100%;
  width: 80vw;
  padding: var(--candidatePadding);
  background-color: var(--background);
  opacity: 0.9;
  margin: var(--fieldMargin);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
  border-radius: var(--fieldBorderRadius);
}
.summaryCounter > button {
  width: 20rem;
  margin-top: 2rem;
}
.questionCounter {
  margin: 2rem 0;
  width: 100%;
}
.errorMessage {
  display: inline-block;
  height: 1rem;
  color: var(--textError);
}
