.addCandidateView {
  width: 100vw;
  height: 90vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form > h2 {
  font-size: var(--fontSizeH2);
  color: var(--header);
}
.form {
  width: var(--fieldWidth);
  padding: var(--fieldPadding);
  background-color: var(--background);
  opacity: 0.9;
  margin: var(--fieldMargin);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: auto;
  border-radius: var(--fieldBorderRadius);
}
.form > button {
  width: 20rem;
}
.infoSection {
  display: flex;
  justify-content: space-between;
  margin: 3rem;
}
.info {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.skills {
  width: 25%;
}
.skills > h3 {
  font-size: var(--fontSizeH3);
  color: var(--header);
}
.errorMessage {
  display: inline-block;
  height: 1rem;
  color: var(--textError);
}
