.recruiterPanel {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerPanel {
  padding: var(--fieldPadding);
  width: var(--fieldWidth);
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  opacity: 0.9;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--fieldBorderRadius);
  position: relative;
  top: 30px;
}
.headerPanelBar > h2 {
  font-size: var(--fontSizeH2);
  color: var(--header);
  margin: 2rem;
}
.headerPanelBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.searchBarCounter {
  overflow: auto;
  width: 100%;
}

.headerPanel button {
  width: 30rem;
  margin: 1rem;
}
.candidatesCounter {
  background-color: var(--background);
  opacity: 0.9;
  width: var(--fieldWidth);
  margin: 5rem;
  padding: var(--fieldPadding);
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: var(--fieldBorderRadius);
}
