.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 2rem;
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  left: -2rem;
  padding: 0.6rem;
  background-clip: content-box;
  border: 1px solid var(--headerHover);
  border-radius: 0.6rem;
  background-color: #e7e6e7;
}
.input:checked {
  background-color: var(--header);
}

.input:focus {
  outline: none !important;
}
