.answersPerResult {
  margin: 2.5rem 0;
}
.answersPerResult > h3 {
  font-size: var(--fontSizeH3);
  width: 100%;
  min-height: 3rem;
  background-color: var(--buttonBackground);
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
