.answersPerResult {
  margin: 2.5rem 0;
}
.answersPerResult > h3 {
  font-size: var(--fontSizeH3);
  width: 100%;
  min-height: 3rem;
  background-color: var(--buttonBackground);
  padding: 0.3rem;
  padding-left: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--textLight);
  border-radius: 1.5rem;
}
.answersPerResult > p {
  padding-left: 2rem;
}
