.candidateInfo {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.counters {
  display: flex;
  overflow: auto;
}
.candidateCounter,
.skillsCounter {
  width: 100%;
  padding: 50px;
  background-color: var(--background);
  opacity: 0.9;
  margin: 20px;
  border-radius: 20px;
  overflow: auto;
}
.candidateCounter > h2 {
  color: var(--header);
}
.candidateCounter {
  overflow: auto;
}

.skillsCounter > h2 {
  font-size: 20px;
  color: var(--header);
}

.skills {
  display: flex;
  flex-direction: column;
}

.counter {
  height: min-content;
}
.counter > p:first-child {
  font-weight: bold;
}
.array {
  display: flex;
}
