.candidateInfo {
  width: 100%;
  height: 90vh;
  display: flex;
}
.candidateCounter,
.skillsCounter {
  width: 40%;
  padding: 50px;
  background-color: var(--background);
  opacity: 0.9;
  margin: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 20px;
}
.candidateCounter > h2 {
  color: var(--header);
}

.skillsCounter {
  width: 20%;
}
.skillsCounter > h2 {
  font-size: 20px;
  color: var(--header);
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
}

.counter {
  height: min-content;
  padding: 10px 0;
}
.counter > p:first-child {
  font-weight: bold;
  margin: 0;
}
.array {
  display: flex;
}
