.candidateInfo {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  width: 100vw;
}
.candidateCounter,
.skillsCounter {
  width: 50vw;
  height: 60vh;
  padding: var(--candidatePadding);
  background-color: var(--background);
  opacity: 0.9;
  margin: var(--fieldMargin) 3rem;
  border-radius: var(--fieldBorderRadius);
  overflow: auto;
}

.counters h2 {
  font-size: var(--fontSizeH2);
  color: var(--header);
}
.candidateCounter {
  overflow: auto;
}

.skills {
  display: flex;
  flex-direction: column;
  margin: 1rem 0 2rem 0;
}

.counter {
  height: min-content;
}
.counter > p:first-child {
  font-weight: bold;
}
.array {
  display: flex;
}
.errorMessage {
  display: inline-block;
  height: 1rem;
  color: var(--textError);
}
