.candidateCounter {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-radius: var(--fieldBorderRadius);
}
.candidateName {
  width: 35%;
}

.candidateName > p {
  font-weight: bold;
  color: var(--textLight);
}
.candidateSkills {
  width: 50%;
}
.candidateSkills > p {
  color: var(--textLight);
}
.candidateCounter > button {
  width: 15%;
}
