.candidateCounter {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  border-radius: var(--fieldBorderRadius);
}
.candidateName {
  width: 35%;
}
.candidateSkills {
  width: 50%;
}
.candidateCounter > button {
  width: 15%;
}
