.registerOrLogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 90vh;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: var(--background);
  opacity: 0.9;
}
.form label {
  width: 320px;
  margin: 5px;
}
.form input {
  width: 300px;
  display: flex;
  margin-top: 2px;
}
.form button {
  width: 100px;
  margin: 5px;
}
.form h2 {
  padding: 0 80px;
  color: var(--header);
}
