.label > p {
  width: 15rem;
  font-weight: bold;
  color: var(--header);
}
.label {
  display: flex;
  margin: 1rem;
  align-items: center;
}
.input {
  width: 35rem;
  height: 2rem;
  border: none;
  box-shadow: 0 0 2px var(--headerHover);
  color: var(--textLight);
}
.input:focus {
  outline: none !important;
  border: none;
  box-shadow: 0 0 4px var(--header);
}
