name: Cypress Tests

on:
  push:
    branches-ignore:
      - master

  workflow_call:
    inputs:
      base_url:
        description: "Base url for react app"
        required: false
        default: "http://localhost:3000"
        type: string

jobs:
  run-cypress-tests:
    concurrency:
      group: cypress-${{ github.ref }}
      cancel-in-progress: true

    runs-on: ubuntu-latest

    env:
      CYPRESS_BASE_URL: ${{ inputs.base_url || 'http://localhost:3000' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Start local dev server
        run: |
          npm run start &
          npx wait-on ${{ env.BASE_URL }}

      - name: Run Cypress tests (dev)
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          install: false
