name: SonarCloud Scan

on:
  pull_request:
    branches:
      - "**"

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Run tests with coverage
        run: npm run test -- --coverage --coverageReporters=lcov --passWithNoTests

      - name: Run SonarCloud Analysis
        uses: SonarSource/sonarqube-scan-action@v6
        with:
          args: >
            -Dsonar.sources=.
            -Dsonar.javascript.lcov.reportPaths=coverage/lcov.info
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.coverage.exclusions=**/*.test.*,**/node_modules/**,**/coverage/**
            -Dsonar.tests=src
            -Dsonar.test.inclusions=**/*.test.*
            -Dsonar.verbose=true
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Wait for SonarCloud Quality Gate
        uses: SonarSource/sonarqube-quality-gate-action@v1
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
